<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Lista de Ingredientes</h2>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.idIngredient}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="ingrediente">
              <th mat-header-cell *matHeaderCellDef> Ingrediente </th>
              <td mat-cell *matCellDef="let element"> {{element.nameIngredient}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef> Cantidad </th>
              <td mat-cell *matCellDef="let element"> {{element.amountIngredient}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef> Tipo de Ingrediente </th>
              <td mat-cell *matCellDef="let element"> {{element.typeIngredient}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="postre">
                <th mat-header-cell *matHeaderCellDef> Postre</th>
                <td mat-cell *matCellDef="let element"> {{element.dessert.nameDessert}} </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          showFirstLastButtons
        ></mat-paginator>
          
    </div>
</body>
</html>